In [41]:
import pandas as pd  
import numpy as np

In [42]:
df = pd.read_csv("SeoulBikeData.csv")
df.head()

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/17,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/17,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/17,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/17,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/17,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [43]:
df = df[df["Functioning Day"] == "Yes"]

In [44]:
df.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [45]:
n = df.shape[0]
n

8465

In [46]:
df =df[df["Seasons"] == "Winter"]
df

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/17,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/17,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/17,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/17,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/17,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,28/02/18,19,19,2.5,95,1.9,838,1.7,0.0,0.0,0.0,Winter,No Holiday,Yes
2156,28/02/18,8,20,2.7,96,1.5,1479,2.1,0.0,0.0,0.0,Winter,No Holiday,Yes
2157,28/02/18,10,21,2.4,95,2.5,1349,1.6,0.0,9.0,0.0,Winter,No Holiday,Yes
2158,28/02/18,13,22,2.3,96,1.9,1207,1.7,0.0,0.0,0.0,Winter,No Holiday,Yes
2159,28/02/18,23,23,1.8,96,1.2,745,1.2,0.0,0.0,0.0,Winter,No Holiday,Yes

In [47]:
df_snowfall = df[df["Snowfall (cm)"] > 0]

In [48]:
df_noSnowfall = df[df["Snowfall (cm)"] == 0]

In [49]:
print("Number of days with snowfall: ", len(df_snowfall))
print("Number of days without snowfall: ", len(df_noSnowfall))

Number of days with snowfall:  392
Number of days without snowfall:  1768

In [50]:
mean_snowfall = df_snowfall["Rented Bike Count"].mean()
mean_noSnowfall = df_noSnowfall["Rented Bike Count"].mean()

print("Mean of rented bikes on days with snowfall: ", mean_snowfall)
print("Mean of rented bikes on days without snowfall: ", mean_noSnowfall)

Mean of rented bikes on days with snowfall:  157.30357142857142
Mean of rented bikes on days without snowfall:  240.670814479638

In [51]:
sigma_snowfall = 0

sigma_snowfall = (df_snowfall["Rented Bike Count"] - mean_snowfall)**2
sigma_snowfall = sigma_snowfall.sum()
sigma_snowfall = sigma_snowfall/len(df_snowfall)

sigma_noSnowfall = 0

sigma_noSnowfall = (df_noSnowfall["Rented Bike Count"] - mean_noSnowfall)**2
sigma_noSnowfall = sigma_noSnowfall.sum()
sigma_noSnowfall = sigma_noSnowfall/len(df_noSnowfall)

print("Standard deviation of rented bikes on days with snowfall: ", sigma_snowfall)
print("Standard deviation of rented bikes on days without snowfall: ", sigma_noSnowfall)

Standard deviation of rented bikes on days with snowfall:  11904.063456632653
Standard deviation of rented bikes on days without snowfall:  23711.821501146576

In [52]:
# Use library to calculate the variance
var_snowfall = np.var(df_snowfall["Rented Bike Count"])
var_noSnowfall = np.var(df_noSnowfall["Rented Bike Count"])

print("Variance of rented bikes on days with snowfall: ", var_snowfall)
print("Variance of rented bikes on days without snowfall: ", var_noSnowfall)

Variance of rented bikes on days with snowfall:  11904.063456632653
Variance of rented bikes on days without snowfall:  23711.821501146576

In [53]:
# Calculate the t-statistic
T = (mean_snowfall - mean_noSnowfall) / np.sqrt((sigma_snowfall/len(df_snowfall)) + (sigma_noSnowfall/len(df_noSnowfall)))
T

-12.599742371278047

In [71]:
# Do Z-test
from scipy.stats import norm

alpha = 0.05
criticalValue = -norm.ppf(1-alpha)

print("Critical value: ", criticalValue)

Critical value:  -1.6448536269514722

In [55]:
if(T >= -criticalValue):
    print("accept null hypothesis")
else:
    print("reject null hypothesis")

reject null hypothesis

In [69]:
# Calculate p-value
pValue = 1-(norm.cdf(T))

In [70]:
pValue

1.0